{{#ifCond type "switch"}}
<tr class="object-in-table" bgcolor="#B7FCB7" border-top="1px solid #B7FCB7">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{state}}</td>
</tr>
{{/ifCond}}

{{#ifCond type "motion"}}
<tr class="object-in-table" bgcolor="#FEF6BA">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{state}}</td>
</tr>
{{/ifCond}}

{{#ifCond type "temperature"}}
<tr class="object-in-table" bgcolor="#FEF6BA">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{state}}</td>
</tr>
{{/ifCond}}

{{#ifCond type "contact"}}
<tr class="object-in-table" bgcolor="#FEF6BA">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{state}}</td>
</tr>
{{/ifCond}}

{{#ifCond type "presence"}}
<tr class="object-in-table" bgcolor="#FEF6BA">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{state}}</td>
</tr>
{{/ifCond}}

{{#ifCond type "battery"}}
<tr class="object-in-table" bgcolor="#FEF6BA">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{state}}</td>
</tr>
{{/ifCond}}

{{#ifCond type "hues"}}
<tr class="object-in-table" bgcolor="#B7FCB7">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{state}}</td>
</tr>
{{/ifCond}}

{{#ifCond type "digital port"}}
<tr class="object-in-table" bgcolor="#FFCCCC">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{state}}</td>
</tr>
{{/ifCond}}

{{#ifCond type "analog port"}}
<tr class="object-in-table" bgcolor="#FFCCCC">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{state}}</td>
</tr>
{{/ifCond}}

{{#ifCond type "sensor"}}
<tr class="object-in-table" bgcolor="#FEF6BA">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{state}}</td>
</tr>
{{/ifCond}}

{{#ifCond type "furniture"}}
<tr class="object-in-table" bgcolor="#B7FCB7">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{state}}</td>
</tr>
{{/ifCond}}

{{#ifCond type "light"}}
<tr class="object-in-table" bgcolor="#B7FCB7">
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{state}}</td>
</tr>
{{/ifCond}}
